@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;500&display=swap');



@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-direction-justify ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin margin-padding-zero {
    margin: 0;
    padding: 0;
}

@mixin yellowtxt {
    color: $light-yellow;
    font-family: $main-font;
    text-decoration: none;
}


@mixin text-color-size-weight-align($color,$size,$weight,$align) {
    font-family:$main-font;
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
}

@mixin border($radius, $color, $style) {
    border-radius: $radius;
    border-color: $color;
    border-style: $style;   
}